.about-us {
  img.banner {
    object-fit: cover;
    position: relative;
  }
  .banner {
    position: relative;

    .banner__text {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 255px;
      width: 100%;
      background-color: var(--background-cream-50);
      color: var(--text-color-green);
      align-content: center;
      p {
        text-align: center;
        font-size: 2rem;
        line-height: 2.25rem;
      }
    }
  }

  .section__text > h1 {
    text-align: start;
    margin-bottom: 2rem;
  }

  .feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: var(--background-cream);
    background-image: url("/backgrounds/bg-feedback.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;

    .feedback__content {
      display: flex;
      gap: 16px;
      text-align: center;
    }

    a {
      text-decoration: none;
    }
  }
}
