footer {
  height: 450px;
  background-color: var(--background-green);
  color: var(--text-color-cream);
  align-content: center;
  padding: 2.75rem 2rem;

  .column {
    display: grid;
    justify-content: center;
    justify-items: start;
    align-content: center;

    img {
      width: 80px;
      height: 80px;
      align-self: start;
      margin-bottom: 1rem;
    }

    p,
    a {
      color: var(--text-color-cream);
      text-decoration: none;
      align-self: start;
      display: flex;
      align-items: center;

      svg {
        margin-right: 1rem;
      }
    }
    a {
      display: flex;
      align-items: center;
      margin-bottom: 0.625rem;
    }
    p {
      margin-bottom: 0;
    }

    p#directional {
      font-size: 1.5rem;
      text-align: center;
    }

    .footer-nav-title {
      margin-bottom: 10px;
    }
  }

  #copyright {
    text-align: center;
    padding: 1rem;
  }
  .video-responsive {
    iframe {
      border-radius: 0.5rem;
    }
  }
}
