.main {
  .slider {
    position: relative;
    margin-top: 75px;

    span.swiper-pagination-bullet {
      background: var(--swiper-bullet-cream);
    }

    span.swiper-pagination-bullet.swiper-pagination-bullet-active {
      background: var(--swiper-bullet-orange);
    }

    img {
      width: 100%;
      height: "auto";
    }

    .banner__text {
      position: absolute;
      top: 30%;
      left: 10%;
      color: var(--text-color-cream);
      display: flex !important;
      flex-direction: column;
      align-items: center;
      z-index: 1;

      h1#title {
        font-size: 4rem;
        margin: 0;
        color: var(--text-color-cream);
      }

      p {
        margin-top: 1rem;
        font-size: 1.25rem;
        color: var(--text-color-cream);
        text-align: center;
      }

      .menu-button {
        margin-top: 2rem;
        padding: 0.75rem 2rem;
        background-color: var(--background-white);
        border: 1px;
        border-radius: 50px;
        padding: 11px 39px;
        gap: 10px;
        font-size: 1.125rem;
        font-family: "Noto Serif";
        color: var(--text-color-green);
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }

  .welcome {
    display: flex !important;
    min-height: fit-content;
    background-color: var(--background-cream);
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  .special-menu {
    height: 52rem;
    background-color: var(--background-green);
    align-content: center;

    h1 {
      text-align: center;
    }
  }

  .order {
    height: 52rem;
    background-color: var(--background-cream);
    text-align: center;

    h1 {
      font-weight: 700;
      font-size: 46px;
      text-align: center;
      margin-top: 0;
      color: var(--text-color-green);
    }

    p {
      margin-top: 0;
      margin: 0 auto;
      margin-bottom: 1em;
      text-align: center;
      max-width: 1000px;
    }

    .column-container {
      gap: 1.5rem;
    }
  }
}
