.menu {
  font-family: "Noto Serif", serif;
  margin-top: 75px;
  background-color: var(--background-green);
}

img {
  display: block;
}

.menu--title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-dark-yellow);
  color: var(--text-color-dark);
  width: 100%;
  height: fit-content;
  position: relative;
  padding: 1.5rem;
  text-transform: uppercase;
  height: 100px;
}

h1.menu--title {
  margin: 0;
  font-size: 2.5rem;
  padding: 1rem 5rem;
  background-color: var(--background-cream);
  border-radius: 8px;
  box-shadow: 10px 10px rgba(56, 29, 18, 0.5);
  height: 40px;
  width: 200px;
  min-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color-green);
}

.menu--content {
  padding: 10%;
  background-color: var(--background-green);
  max-width: var(--max-menu-width);
  margin: 0 auto;
}

h2,
span,
p {
  font-family: "Noto Serif", BlinkMacSystemFont, "Noto Serif", Roboto,
    "Noto Serif", "Noto Serif", serif;
}

h2 {
  text-align: center;
  text-transform: capitalize;

  &#menu-item--title {
    padding: 0.5rem 1rem;
    background-color: var(--background-green);
    color: var(--text-color-cream);
    border-radius: 8px;
  }
}

.swiper--item-info {
  .swiper-slide-active {
    height: 100% !important;
  }

  .item-info {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding-bottom: 2rem;

    img.swiper--item-img {
      min-height: 350px;
      min-width: 450px;
      object-fit: contain;
    }

    .item-info__text {
      width: 100%;
    }
  }
}

.swiper--list-item {
  &.swiper-horizontal {
    padding-left: 4rem !important;
  }

  .swiper-slide {
    width: auto !important;
  }
}

.swiper--list-item .swiper-slide-thumb-active {
  opacity: 1 !important;
}

.menu-list {
  height: 100%;

  .menu--info {
    .item-info__img {
      position: relative;
    }

    img {
      border-radius: 16px;
    }

    img.item-favorite {
      position: absolute;
      bottom: 5%;
      right: 5%;
    }

    p {
      color: var(--text-color-green);

      &#menu-item--price {
        font-size: 1.5rem;
        text-align: end;
      }
    }
  }
}

@media (max-width: 1650px) {
  .menu--content {
    padding: 5%;
  }
}

@media (max-width: 768px) {
  .menu--title {
    width: auto;
    height: 50px;
  }
  h1.menu--title {
    font-size: 1.6rem !important;
    width: 30%;
    height: 25px;
    padding: 1rem 2rem;
    width: auto;
  }
  .section {
    margin: 4rem 0;
    height: fit-content;
  }
  .section__content {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .section__text {
    text-align: justify;
  }
}
