/* @import "~antd/dist/reset.css"; */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --background-cream: #ffffec;
  --background-green: #255442;
  --background-dark-yellow: #ce912c;
  --background-white: #ffffff;

  --text-color-cream: #ffffec;
  --text-color-dark: #31363f;
  --text-color-green: #255442;

  --swiper-bullet-cream: #ffffec;
  --swiper-bullet-orange: #f8b917;
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Noto Serif", BlinkMacSystemFont, "Noto Serif", Roboto,
    "Noto Serif", "Noto Serif", serif;
}

h4 {
  font-weight: 700;
  font-size: 60px;
  line-height: 64.8px;
}

header {
  height: 75px;
  background-color: var(--background-cream);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5.0625rem;
  padding-right: 5.0625rem;

  img#Logo {
    height: 60px;
    width: 60px;
  }

  .header__nav {
    a {
      font-weight: 700;
      color: var(--text-color-dark);
      text-decoration: none;
    }
  }

  .header__language_order {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    .header__button--language {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      select {
        border: none;
        font-size: 18px;
        font-weight: 700;
        color: var(--text-color-dark);
        background-color: transparent;
        font-family: "Noto Serif";
      }
    }

    a.header__button--order {
      font-family: "Noto Serif";
      background-color: var(--background-green);
      color: white;
      padding: 11px 39px;
      border-radius: 50px;
      border: none;
      text-decoration: none;
    }
  }
}

.image--border-tlbr {
  border-radius: 100px 20px;
  object-fit: cover;
}

.text--border-tlbr {
  background-color: var(--background-green);
  color: var(--text-color-cream);
  border-radius: 100px 20px;
  object-fit: cover;
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 59px 45px;
  flex-direction: column;
  position: relative;
  max-width: 450px;
  min-height: 225px;
  max-height: 225px;

  img.avatar {
    top: -15%;
    position: absolute;
  }

  p.userName {
    margin: 0;
    align-self: flex-end;
  }
}

.text--border {
  background-color: var(--background-green);
  color: var(--text-color-cream);
  border-radius: 16px;
  object-fit: cover;
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 59px 45px;
  flex-direction: column;
  position: relative;

  img.avatar {
    top: -15%;
    position: absolute;
  }

  p.userName {
    margin: 0;
    align-self: flex-end;
  }
}

.column-container {
  height: 240px;
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;

  .column {
    flex: 1;
    text-align: center;
  }

  @media (max-width: 640px) {
    display: grid;
    justify-items: start;
    align-items: center;
  }
}

.section {
  display: flex;
  height: 700px;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding-left: 83px;
  padding-right: 83px;

  .section__content {
    display: flex;
    gap: 64px;

    .section__text {
      align-content: center;
    }

    .section__text > h1 {
      text-align: start;
    }
  }

  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
}

.about-us {
  img.banner {
    object-fit: cover;
    position: relative;
  }
  .div__banner {
    position: relative;

    .banner__text {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 255px;
      width: 100%;
      background-color: var(--background-cream);
      color: var(--text-color-green);
    }
  }

  .feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: var(--background-cream);

    .feedback__content {
      display: flex;
      gap: 16px;
      text-align: center;
    }
  }
}

.ant-tabs {
  font-family: "Noto Serif", BlinkMacSystemFont, "Noto Serif", Roboto,
    "Noto Serif", "Noto Serif", serif;

  .ant-tabs-nav {
    text-transform: capitalize;

    .ant-tabs-tab {
      color: var(--text-color-cream);
      border: none;
    }
  }

  .ant-tabs-tab {
    border: none !important;
    padding: 7% 5rem 7% 10% !important;
    background: rgb(0 0 0 / 0%) !important;

    .ant-tabs-tab-btn {
      display: flex;
      align-items: center;
    }

    &.ant-tabs-tab-active {
      background-color: var(--background-cream) !important;
      border-right-width: 1rem !important;
      border-right-color: var(--background-cream) !important;
      border-left: 6px solid var(--background-dark-yellow) !important;
    }
  }

  .ant-tabs-content-holder {
    border-color: var(--background-cream) !important;
    background: var(--background-cream);
    border-radius: 16px;
    position: relative;
    left: -1rem;

    .ant-tabs-content,
    .ant-tabs-tabpane {
      height: 100%;
    }

    .ant-tabs-tabpane {
      padding: 2rem !important;
    }
  }
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--text-color-green) !important;
  text-shadow: 0 0 0.25px currentcolor;

  span.ant-tabs-tab-icon {
    filter: brightness(0) saturate(100%) invert(25%) sepia(78%) saturate(253%)
      hue-rotate(105deg) brightness(96%) contrast(98%);
  }
}

.ant-input,
.ant-picker {
  flex: 1 !important;
  font-size: 16px !important;
  padding: 0.8rem !important;
  border: 1px inset light-dark(rgb(118, 118, 118), rgb(133, 133, 133)) !important;
}

textarea.ant-input {
  max-height: 262px !important;
}
