:root {
  --background-cream: #ffffec;
  --background-cream-50: rgba(255, 255, 236, 0.7);
  --background-green: #255442;
  --background-dark-yellow: #ce912c;
  --background-white: #ffffff;

  --text-color-cream: #ffffec;
  --text-color-dark: #31363f;
  --text-color-green: #255442;
  --text-color-yellow: #ce912c;

  --swiper-bullet-cream: #ffffec;
  --swiper-bullet-orange: #f8b917;

  --base-font-size: 18px; /* Default base font size */

  --max-content-width: 1600px;
  --max-menu-width: 1200px;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  background: var(--background-cream);
}

::-webkit-scrollbar-thumb {
  background: var(--text-color-dark);
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
html,
body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Noto Serif", BlinkMacSystemFont, "Noto Serif", Roboto,
    "Noto Serif", "Noto Serif", serif;
  font-size: var(--base-font-size);
  background-color: var(--background-cream);
}
.section__container {
  display: flex;
  justify-content: center;
  background-color: var(--background-green);
}
.section__container.cream-bg {
  display: flex;
  justify-content: center;
  background-color: var(--background-cream);
}
.section__container.yellow-bg {
  background-color: var(--background-dark-yellow);
}

.section__container.column-layout {
  flex-direction: column;
}
.heading1 {
  font-weight: bold;
  font-size: 2.875rem;
  line-height: 3.25rem;
  font-family: "Noto Serif";
}
.heading3 {
  font-size: 1.625rem;
  line-height: 2.5rem;
  font-weight: 600;
}

.body-md {
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.green-text {
  color: var(--text-color-green);
}

.cream-text {
  color: var(--text-color-cream);
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: var(--text-color-green);
  text-align: justify;
}
h4 {
  font-weight: 700;
  font-size: 60px;
  line-height: 64.8px;
}
.header__container {
  width: 100%;
  height: 75px;
  background-color: var(--background-cream);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
  width: -webkit-fill-available;
  position: fixed;
  z-index: 999;
  transition: opacity 0.5s ease-in-out;
}
header {
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-content-width);
  height: 75px;
  background-color: var(--background-cream);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
  width: -webkit-fill-available;
  position: fixed;
  z-index: 999;
  transition: opacity 0.5s ease-in-out;
  .menu-icon {
    display: none;
  }
  .logo__wrapper {
    width: 20%;
    img#Logo {
      height: 3.5rem;
      width: 3.5rem;
    }
  }

  .header__nav {
    flex: auto;
    display: flex;
    gap: 24px;
    color: var(--text-color-dark);
    font-size: 1.125rem;
    width: 50%;
    justify-content: center;
    a {
      font-weight: 700;
      color: var(--text-color-dark);
      text-decoration: none;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.1em;
        background-color: var(--background-dark-yellow);
        opacity: 0;
        transition: opacity 300ms, transform 300ms;
      }
      &:hover {
        /* color: var(--text-color-yellow); */

        &:after {
          opacity: 1;
          transform: translate3d(0, 0.2em, 0);
        }
      }
      .active {
        color: var(--text-color-yellow);
      }
    }
  }

  .header__language_order {
    display: flex !important;
    width: 20%;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    .header__button--language {
      display: flex !important;
      justify-content: center;
      align-items: center !important;
      gap: 0.25rem;

      select {
        border: none;
        font-size: 18px;
        font-weight: 700;
        color: var(--text-color-dark);
        background-color: transparent;
        font-family: "Noto Serif";
      }
    }

    a.header__button--order {
      font-family: "Noto Serif";
      background-color: var(--background-green);
      color: white;
      padding: 11px 39px;
      border-radius: 50px;
      border: none;
      text-decoration: none;
      width: fit-content;
      text-align: center;
      min-width: fit-content;
    }
  }
}

.image--border-tlbr {
  border-radius: 6.25rem 1.25rem;
  object-fit: cover;
}

.text--border-tlbr {
  background-color: var(--background-green);
  color: var(--text-color-cream);
  border-radius: 100px 20px;
  object-fit: cover;
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 59px 45px;
  flex-direction: column;
  position: relative;
  max-width: 450px;

  img.avatar {
    top: -15%;
    position: absolute;
  }

  p.userName {
    margin: 0;
    align-self: flex-end;
  }
}

.text--border {
  background-color: var(--background-green);
  color: var(--text-color-cream);
  border-radius: 16px;
  object-fit: cover;
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 59px 45px;
  flex-direction: column;
  position: relative;

  img.avatar {
    top: -15%;
    position: absolute;
  }

  p.userName {
    margin: 0;
    align-self: flex-end;
  }
}

.column-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
  max-width: var(--max-content-width);
  margin: 0 auto;
  .column {
    flex: 1;
    text-align: center;
  }

  @media (max-width: 640px) {
    display: grid;
    justify-items: start;
    align-items: center;
  }
}

.feedback {
  .column-container {
    gap: 1.5rem;
  }
}

.section {
  display: flex;
  height: 700px;
  max-width: var(--max-content-width);
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding-left: 5.2rem;
  padding-right: 5.2rem;

  .section__content {
    display: grid;
    grid-template-columns: 60% 1fr;
    column-gap: 4rem;
    align-items: center;
    .reverse {
      direction: rtl;
    }
    .section__text {
      align-content: center;
    }

    .section__text > h1 {
      text-align: left;
    }
    .section__text p {
      text-align: left;
    }
    .image--border-tlbr {
      width: 100%;
      height: auto;
    }
    .section__images {
      width: 100%;
      min-height: 500px;
      position: relative;

      img.double {
        right: 0px;
        position: absolute;
        width: 47%;
        height: auto;
      }
      .lower--image {
        top: 35%;
        left: 0%;
      }
    }
  }
}

.about-us {
  img.banner {
    object-fit: cover;
    position: relative;
  }
  .div__banner {
    position: relative;

    .banner__text {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 255px;
      width: 100%;
      background-color: var(--background-cream);
      color: var(--text-color-green);
    }
  }

  .feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: var(--background-cream);

    .feedback__content {
      display: flex;
      gap: 16px;
      text-align: center;
      min-height: 225px;
      max-height: 225px;
    }
  }
}

.ant-tabs {
  font-family: "Noto Serif", BlinkMacSystemFont, "Noto Serif", Roboto,
    "Noto Serif", "Noto Serif", serif;

  .ant-tabs-nav {
    text-transform: capitalize;

    .ant-tabs-tab {
      color: var(--text-color-cream);
      border: none;
    }
  }

  .ant-tabs-tab {
    border: none !important;
    padding: 7% 5rem 7% 10% !important;
    background: rgb(0 0 0 / 0%) !important;

    .ant-tabs-tab-btn {
      display: flex;
      align-items: center;
    }

    &.ant-tabs-tab-active {
      background-color: var(--background-cream) !important;
      border-right-width: 1rem !important;
      border-right-color: var(--background-cream) !important;
      border-left: 6px solid var(--background-dark-yellow) !important;
    }
  }

  .ant-tabs-content-holder {
    border-color: var(--background-cream) !important;
    background: var(--background-cream);
    border-radius: 16px;
    position: relative;
    left: -1rem;

    .ant-tabs-content,
    .ant-tabs-tabpane {
      height: 100%;
    }

    .ant-tabs-tabpane {
      padding: 2rem !important;
    }
  }
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--text-color-green) !important;
  text-shadow: 0 0 0.25px currentcolor;

  span.ant-tabs-tab-icon {
    filter: brightness(0) saturate(100%) invert(25%) sepia(78%) saturate(253%)
      hue-rotate(105deg) brightness(96%) contrast(98%);
  }
}

.MuiTextField-root {
  flex: 1;
}
textarea.ant-input {
  max-height: 262px !important;
}

@media (max-width: 1650px) {
  :root {
    --base-font-size: 14px;
  }
  .section {
    padding-left: 3.6rem;
    padding-right: 3.6rem;
    .section__content {
      column-gap: 2.2rem;
    }
  }
}
@media (max-width: 1224px) {
  :root {
    --base-font-size: 14px;
  }
  .section {
    padding-left: 2rem;
    padding-right: 2rem;
    .section__content {
      column-gap: 2rem;
    }
  }
  header {
    padding: 0 1.5rem;
    .logo__wrapper,
    .header__language_order {
      width: auto;
      min-width: 15%;
    }
  }
}
@media (max-width: 991px) {
  :root {
    --base-font-size: 14px;
  }
  header {
    padding: 0 1.5rem;
    .logo__wrapper {
      width: 10%;
      min-width: fit-content;
    }

    .header__language_order {
      width: auto;
    }
    .header__button--order {
      display: none;
    }
  }
  .section {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media (max-width: 768px) {
  :root {
    --base-font-size: 12px;
  }
  header {
    .header__nav {
      visibility: hidden;
    }
    .side_bar {
      position: fixed;
      flex-direction: column;
      top: 0px;
      background: rgba(255, 255, 236, 0.9);
      width: 100%;
      left: 0px;
      height: 100vh;
      text-align: center;
      visibility: hidden;
    }

    .s .header__button--order {
      display: none;
    }
    .menu-icon {
      display: inline;
    }
  }
  h1.menu--title {
    font-size: 1.75rem !important;
  }
  .section {
    margin: 4rem 0;
    height: fit-content;
    padding: 0 3rem;
    .section__content {
      grid-template-columns: 1fr;
      row-gap: 2rem;
    }
  }
}
@media (max-width: 576px) {
  :root {
    --base-font-size: 14px;
  }

  .section {
    margin: 3rem 0;
    height: fit-content;
    padding: 0 2rem;
    .section__content {
      grid-template-columns: 1fr;
      row-gap: 2rem;
    }
  }
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms linear;
}
